.mapLoadingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      &:first-child {
        width: 50%;
        height: 35px;
        margin-bottom: 5px;
      }
      &:last-child {
        width: 50%;
        height: 20px;
      }
    }
  }
  img {
    width: 810px;
    height: 607px;
  }
}
