.listContainer {
  padding-top: 120px;
  width: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  @media (max-width: 1200px) {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    padding-top: 150px;
  }
}
