.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h1 {
      padding-top: 3px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 0.9;
    }
  }
}
