.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  ul {
    li {
      list-style: none;
      a {
        font-size: 14px;
        background-color: #b72f34;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: 0.1s ease-in-out;
        cursor: pointer;
        &:active {
          position: relative;
          top: 1px;
        }
      }
      &:hover {
        background-color: #d1363a;
      }
    }
  }
}
