@import "./reset.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.creator {
  position: fixed;
  right: 30px;
  bottom: 20px;
  color: #fff;
  font-size: 12px;
}
